[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robocars_sagemaker_container= {editable = true, path = ".", extras = []}
importlib = "*"

[dev-packages]
robocars_sagemaker_container = {editable = true, path = ".", extras = ["tests"]}

[requires]
python_version = "3.7"
